<mat-toolbar class="custom-toolbar">
    <div class="left-section">
        <img class="logo" src="education.svg" alt="BookStore">
        <span class="title">BookStore</span>
        <div class="Search-field">
        <mat-icon>search</mat-icon>
        <input matInput placeholder="Search..." />
    </div>
    </div>
    <div class="right-section">
        <div>
            <button mat-button (click)="toggleProfileDropdown()" >
                <div class="iconlabel">
            <mat-icon>person_outline</mat-icon>
            <span class="label">Profile</span>
                </div>
            </button>
            <div *ngIf="isProfileOpen" class="profile-dropdown">
                <div class="menu-header">
  <p class="welcome-title">Welcome</p>
  <p class="welcome-subtext">To access account and manage orders</p>
  <button mat-stroked-button color="warn" class="login-button" (click)="openLoginSignup()">LOGIN / SIGNUP</button>
</div>

<hr />

<div class="menu-item">
  <mat-icon>shopping_bag</mat-icon>
  <span>My Orders</span>
</div>

<div class="menu-item">
  <mat-icon>favorite_border</mat-icon>
  <span>Wishlist</span>
</div>

            </div>
        </div>
    <div>
            <button mat-button >
                <div class="iconlabel">
            <mat-icon>shopping_cart</mat-icon>
            <span class="label">Cart</span>
                </div>
            </button>
        </div>
    </div>
</mat-toolbar>

<app-login-signup *ngIf="isLoginOpen" (close)="isLoginOpen=false"></app-login-signup>